<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/menu.css">
    <title>App dashboard Violência</title>
</head>
<body>
    <header class = 'content'>
        <h1 id="BoasVindas">Dashboards e Inteligência Artificial na Proteção de Grupos Vulneráveis: Análise de Dados do Disque 100</h1>
        <p>Este trabalho aborda os resultados do desenvolvimento de uma plataforma computacional para análise exploratória de 
           dados provenientes do Disque 100, disponibilizados pela Ouvidoria Nacional dos Direitos Humanos. A proposta evidencia o 
           potencial da visualização de dados como ferramenta capaz de fornecer insights relevantes para a formulação de políticas públicas.
           Adicionalmente, a ferramenta é integrada à API Gemini, um chatbot desenvolvido pelo Google, com o objetivo de gerar análises 
           automatizadas e sugerir estratégias de prevenção e intervenção com base nos dados analisados. Dessa forma, o trabalho ressalta o 
           papel das tecnologias de visualização de dados e das aplicações web como aliadas na análise de grandes volumes de informações 
           sociais. O uso combinado de aplicações web, análise de dados e IA desponta como uma estratégia promissora para fortalecer a 
           resposta institucional diante de problemas sociais complexos.
        </p>
    </header>
    <main>
        <div class="SelcionaAno">
            <form method="POST">
            <h2>Selecione um Ano</h2>
            <label for="year">Ano: </label>
            <select name="year" id="year">
                <option value="2020">2020</option>
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="2024">2024</option>
            </select>
            <button type="submit">Selecionar Ano</button>
        </form>
        {% if error %}
        <p style="color:red;">{{ error }}</p>
        {% endif %}
        </div>
    </main>
</body>
</html>