.content{
    width: 100%;
    background: #F7F7F7;
    }
   
   .graph_content{
    width:85%;
    position:absolute;
    top: 0;
    right: 0; 
    }
   
   .graph_menu {
    width: 15%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: lightgrey;
   }

   .meu-grafico {
    width: 800px !important;
    height: 600px !important;
   }

   #Navegação{
    color: lightgreen;
    display: block;
   }