*{
    padding: 0%;
    margin: 0%;
}
body{
    color:black ;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    height: 100vh;

}

header{
    color : #eee;
    background-color:#23548c ;
    padding: 1%;
}

main{
    background-color: #eee ;
    padding: 1%;
    text-align: justify;
}

#BoasVindas{
    text-align: justify;
}

.SelecionaAno{
    
    width: 100%; 
    text-align: center; 
    color: black;
}

p{
    text-align: justify;
}

button{
    background-color: #3498DB;
}
form{ 
  
  
  text-align: center;
  display: block; 
  margin: 0 auto; 
  width: 500px;
}

.Links{
    text-align: left;
}

a{
    color: blue;
}